@charset "UTF-8";
body {
    background-color: gold;
    font-family: Arial;
    font-size: 20px;
}

h1 {
    color: black;
    background-color: yellowgreen;
}

h2 {
    color: aquamarine;
}

p{
    text-align:justify;
}
